@model BettListModel
@{
    ViewBag.Title = "gamelist";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/newstatic/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/newstatic/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/newstatic/css/back.css" />
    <link rel="stylesheet" type="text/css" href="/newstatic/css/footer.css" />
    <script type="text/javascript" src="/newstatic/js/jquery-1.11.3.min.js"></script>
    <style>
        body {
            background-color: #F0F0F0;
        }

        .main p {
            line-height: 1.6em;
            background: #fff;
            margin: 1em 0;
            border-radius: 5px;
            padding: 10px;
        }

            .main p span.gm {
                font-size: 1.2em;
                line-height: 1.8em;
                color: #FF635E;
            }

            .main p span.yk {
                font-size: 1.2em;
                font-weight: bold;
                line-height: 1.8em;
                float: right;
            }

        .pg a {
            color: #999;
            margin-left: .5em;
            border: #ddd solid 1px;
            padding: 2px 4px;
            border-radius: 2px;
        }

        .pg span {
            color: #999;
            display: inline;
            margin-left: .5em;
        }

        .pg a.next {
            margin-right: 0;
            position: relative;
            top: 0;
            right: 0;
            z-index: 9999;
        }

        .pg a.prev {
            margin-left: 0;
            position: relative;
            top: 0;
            left: 0;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <header>
        <h2><span onclick="history.go(-1)"><i class="icon"></i></span>游戏记录</h2>
    </header>
    <div class="headblank"></div>
    <div class="main table">
        @if(Model.BettList.Count>0)
        {
            foreach(OWZX.Model.MD_Bett info in Model.BettList)
            {
                <p>
                    <span class="gm">@info.Lottery -- @info.Lotterynum 期
                    </span>
                    @if (info.luckresult > 0)
                    {
                        <span style="float: right;color: #00B930;">
                            +@info.luckresult
                        </span>
                    }
                    else
                    {
                        <span style="float: right;color: #D81E06;">
                            -@info.luckresult
                        </span>
                    }<br>
                    开奖号码：@info.OpenCode<br>
                    投注号码：@info.Item<br>
                    投注金额：@info.Money<br>
                    中奖金额：@info.luckresult<span style="float:right;margin-right:1em;">@info.Addtime.ToString("yyyy-MM-dd HH:mm:ss")<br>
                </p>
            }
            <p id="showlists"><div class='ajaxtips'style='display:none;font-size:1.1em;color:#888;'>加载中.....</div></p>
        }
        else
        {
            <div style="color:#888;height:150px;padding-top:5px;text-align:center;">  暂无记录</div>
        }
    </div>
    <div class="footblank"></div>
    <!-- 底部导航 -->
    @Html.Partial("_footer")
    <!-- 底部导航 -->
   
    <script>
    var p = @Model.PageModel.PageIndex;
        var total=@Model.PageModel.TotalPages;
    if (p == "") p = 1;
    var stop = true;//触发开关，防止多次调用事件
    $(".table").scroll(function ()
    {if(p==total) return;
        //当内容滚动到底部时加载新的内容 100当距离最底部100个像素时开始加载.
        if ($(this).scrollTop() + $(window).height() + 100 >= $(document).height() && $(this).scrollTop() > 100)
        {
            if (stop == true)
            {
                stop = false;
                p = p + 1;//当前要加载的页码
                //加载提示信息
                $(".ajaxtips").show();
                $.get("/ucenter/gamelist?isref=1&page="+p, function (data)
                {
                    var nwbet="";
                    var dt=JSON.parse(data);
                    $.each(dt,function(){

                        var my="";
                        if (this.Money > 0)
                        {
                            my='<span style="color:#FA322C">+'+this.Money+'</span>';
                        }
                        else
                        {
                            my='<span style="color:#00FF00">'+this.Money+'</span>';
                        }
                        nwbet+="<p>";
                        nwbet+='<span class="gm">'+this.Lottery+' -- '+this.Lotterynum+' 期</span>';
                        if(this.luckresult > 0)
                        {
                            nwbet+='<span style="float: right;color: #00B930;">+'+this.Money+'</span><br>';
                        }else
                        {
                            nwbet+='<span style="float: right;color: #D81E06;">-'+this.Money+'</span><br>';
                        }
                        nwbet+="开奖号码："+this.OpenCode+"<br>投注号码："+this.Item+"<br>投注金额："+this.Money+"<br>中奖金额："+this.luckresult;
                        nwbet+='<span style="float:right;margin-right:1em;">'+this.Addtime+'<br>';
                        nwbet+="</p>";
                    });
                    $(".ajaxtips").hide();
                    $("#showlists").before(nwbet);//把新的内容加载到内容的后面
                    stop = true;
                })
            }
        }
    });
    </script>

</body>
</html>

