@{
    ViewBag.Title = "index";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>北京赛车PK10</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="北京赛车开奖">
    <meta name="description" content="">
    <link rel='stylesheet' href="~/newstatic/css/reset.css" type="text/css" />
    <link href="~/newstatic/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/newstatic/css/pk10.css" type="text/css" />
    <link rel="stylesheet" href="~/newstatic/css/common.css" />
    <link rel="stylesheet" href="~/newstatic/css/footer.css" type="text/css" />
    <link rel='stylesheet' href='~/newstatic/font-awesome-4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/newstatic/css/css/documentation.css">
    <link href="~/newstatic/css/css/prettify.css" rel="stylesheet">
    <link href="~/newstatic/css/css/jquery.toolbar.css" rel="stylesheet" />
    <script src="~/newstatic/js/jquery-1.11.3.min.js"></script>
    
    <style type="text/css">
        .ifsfz {
            position: fixed;
            top: 0px;
            left: 0px;
            transform: scale(0.4,0.4);
            -moz-transform: scale(0.4,0.4);
            -webkit-transform: scale(0.4,0.4);
            -o-transform: scale(0.4,0.4);
            width: 250%;
            height: 550px;
            margin-left: -75%;
            margin-top: -165px;
            z-index: 9999;
        }

        #transport-options-o a {
            margin: 0 1px 0 0;
            font-size: 13px;
            line-height: 23px;
            vertical-align: top;
            display: inline-block;
            width: 39px;
            text-align: center;
            margin-top: 11px;
            float: left;
        }

        #transport-options-p a {
            margin: -3px 4px;
            font-size: 13px;
            line-height: 20px;
            vertical-align: middle;
            display: inline-block;
        }

        .posi {
            position: absolute;
            border: 1px solid #aaa;
            background: #222;
            opacity: 1;
            z-index: 1000;
            height: 33px;
            padding: 1px 2px;
            line-height: 33px;
        }

            .posi a {
                color: white;
            }

        .arrow {
            width: 0;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid #222;
            opacity: 1;
            position: absolute;
            z-index: 1001;
        }

        .auto {
            width: 60px;
            height: 27px;
            line-height: 30px;
            border: none;
            background: transparent;
            color: white;
            text-align: center;
            display: inline-block;
            margin-top: 2px;
            font-size: 11px;
        }

            .auto::-webkit-input-placeholder { /* WebKit browsers */
                color: #fff;
            }

            .auto:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #fff;
            }

            .auto::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #fff;
            }

            .auto:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #fff;
            }

        .cha-first .btn-toolbar {
            width: 11%;
            margin: 0.1em 0.2em;
        }

        .keyboards {
            width: 180px;
            height: 150px;
            position: absolute;
            background: #222;
            opacity: 0.9;
            z-index: 1002;
            display: none;
        }

            .keyboards table {
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                border: 1px solid #aaa;
            }

                .keyboards table tr {
                    height: 45px;
                }

                .keyboards table td {
                    width: 45px;
                    height: 45px;
                    text-align: center;
                    color: white;
                }

        .btn-toolbar span {
            text-shadow: 1px 1px 1px #000;
            color: #fff;
        }
     
    </style>
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <script>
    lotterytype=@ViewData["lottery"];
    expect=@ViewData["expect"];
    uid=@WorkContext.Uid;
    $(function(){
        var type=@ViewData["lottery"].ToString();
            if(type==10)
            {  
                setTimeout(function(){
                    $(".ifsfz").attr("src","https://www.1399p.com/mobile/pk10/");
                },300000);

            }
            else if(type==11)
            {
                setTimeout(function(){$(".ifsfz").attr("src","http://www.1399p.com/xyft/h5shipin/");
                },300000);
            }
        })
        $(function ()
        {
            
            $('.footer a').removeClass("ft-on");
            $('.footer a:eq(0)').addClass("ft-on");
            $('.footer img').each(function ()
            {
                $(this).attr("src", $(this).attr("src").replace("1.", "."))

            })
            $('.footer img:eq(0)').attr("src", $('.footer img:eq(0)').attr("src").replace(".", "1."));
        });
    </script>
</head>
<body style="height:auto">
    <!-- 赛车动画 -->
    <div class="car" >
        @if (@ViewData["lottery"].ToString() == "10")
        {
            <iframe id="ifsfz" name="ifsfz" class="ifsfz" src="https://www.1399p.com/mobile/pk10/" frameborder="no" border="0"
                    marginwidth="0" marginheight="0" scrolling="no" style="background:#888;"></iframe>
        }
        else if (@ViewData["lottery"].ToString() == "11")
        {
            <iframe class="ifsfz" src="http://www.1399p.com/xyft/h5shipin/" frameborder="no" border="0" 
                    marginwidth="0" marginheight="0" scrolling="no" style="background:#888;"></iframe>
        }
        <div class="count"  >
            <div class="ct-down">
                @if (ViewData["lot_msg"] != "")
                {
                    int time = int.Parse(ViewData["lot_msg"].ToString());
                    if (time > 30)
                    {
                        <text>距本期封盘剩余：<span class="ct-time">@time</span> 秒</text>
                    }
                    else
                    {
                        <text>距本期开奖剩余：<span class="ct-time">@time</span> 秒</text>
                    }
                }
                <script>
                    $(function(){
                        expect=@ViewData["expect"];
                        LotRTime(@ViewData["lottery"],@ViewData["lot_msg"],@ViewData["expect"],300,30)
                    })
                </script>
            </div>
            <ul class="cut-choice">
                <li>筹码设置</li>
                <li>玩法规则</li>
                <li>本期下注</li>
            </ul>
        </div>
    </div>
    <!-- 赛车动画 -->
    <!-- 玩法 -->
    <div class="mid" >
        <div class="arrow" style="display: none;"></div>
        <div class="mid-pk">
            <!-- 筹码设置 -->
            <div class="chip-set" style="display: none;">
                <i class="close"></i>
                <ul class="chip-money">
                    <li>
                        <span>1</span><span>5</span><span>10</span><span>20</span><span>30</span>
                    </li>
                    <li>
                        <span>50</span><span>100</span><span>300</span><span>500</span><span>1000</span>
                    </li>
                    <li>
                        <span>2000</span><span>3000</span><span>5000</span><span>8000</span><span>10000</span>
                    </li>
                    <li>
                        <span style="margin-left: -178px;">20000</span>
                    </li>
                </ul>
                <!-- <div class="chip-choice"></div> --><input type="button" value="确定" class="define" /><!-- <input type="button" value="取消" class="close"/> -->
            </div>
            <!-- 筹码设置 -->
            <!-- 玩法规则 -->
            <div class="rule" style="display: none;">

                @if (@ViewData["lottery"].ToString() == "10")
                {
                    <text>
                        <h3>北京赛车PK10玩法说明 <i class="rule-close" title="关闭"></i></h3>
                        <img src="/newstatic/img/js.jpg" width="100%" />
                        <br /><br /><br />
                    </text>
                }
                else
                {
                    <text>
                        <h3>
                            幸运飞艇玩法说明
                            <i class="rule-close" title="关闭"></i>
                        </h3>
                        <p>1、猜冠军， 即前一，猜开奖号码的第一位，奖金10元，例如开奖号码为1,2,3,4,5,6,7,8,9,10。第一位是1，那么投注第一位包含1时，即为中奖。</p>
                        <p>2、猜冠亚军 ，即前二，猜开奖号码的前二位，奖金10元，例如开奖号码为1,2,3,4,5,6,7,8,9,10；那么投注第一位包含1，第二位包含2时，即为中奖。选2中2，奖金55元。选2中1，奖金2元。</p>
                        <p>3、猜冠亚季军 ，即前三，猜开奖号码的前三位。例如开奖号码为1,2,3,4,5,6,7,8,9,10；那么投注第一位包含1，第二位包含2时，第三位包含3时，即为中奖。选3中3，奖金160元。选3中2，奖金10元。选3中1，奖金2元。</p>
                    </text>
                }

            </div>
            <!-- 玩法规则 -->
            <!-- 下注明细 -->
            <div class="bet" style="display: none;">

            </div>
            <!-- 下注明细 -->
            <!-- 下注 -->
            <div style="padding-bottom: 55px;">
                <div class="champion">
                    <div class="cha-first">
                        <div class="one">跑第一名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="1">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="1">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="1">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="1">双</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="龙" data-num="1">龙</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="虎" data-num="1">虎</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="1"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="1"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="1"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="1"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="1"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="1"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="1"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="1"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="1"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="1"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first">
                        <div class="one">跑第二名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="2">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="2">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="2">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="2">双</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="龙" data-num="2">龙</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="虎" data-num="2">虎</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="2"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="2"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="2"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="2"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="2"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="2"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="2"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="2"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="2"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="2"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first">
                        <div class="one">跑第三名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="3">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="3">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="3">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="3">双</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="龙" data-num="3">龙</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="虎" data-num="3">虎</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="3"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="3"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="3"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="3"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="3"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="3"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="3"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="3"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="3"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="3"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first">
                        <div class="one">跑第四名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="4">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="4">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="4">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="4">双</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="龙" data-num="4">龙</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="虎" data-num="4">虎</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="4"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="4"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="4"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="4"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="4"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="4"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="4"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="4"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="4"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="4"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first">
                        <div class="one">跑第五名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="5">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="5">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="5">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="5">双</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="龙" data-num="5">龙</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="虎" data-num="5">虎</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="5"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="5"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="5"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="5"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="5"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="5"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="5"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="5"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="5"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="5"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">跑第六名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="6">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="小" data-num="6">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="单" data-num="6">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="双" data-num="6">双</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="6"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="6"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="6"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="6"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="6"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="6"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="6"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="6"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="6"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="6"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">跑第七名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="7">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="小" data-num="7">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="单" data-num="7">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="双" data-num="7">双</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="7"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="7"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="7"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="7"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="7"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="7"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="7"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="7"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="7"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="7"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">跑第八名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="8">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="小" data-num="8">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="单" data-num="8">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="双" data-num="8">双</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="8"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="8"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="8"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="8"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="8"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="8"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="8"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="8"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="8"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="8"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">跑第九名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="9">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="小" data-num="9">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="单" data-num="9">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="双" data-num="9">双</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="9"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="9"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="9"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="9"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="9"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="9"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="9"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="9"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="9"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="9"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">跑第十名：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="10">大</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="小" data-num="10">小</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="单" data-num="10">单</i><br /><span>1.9倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a> <i class="fa" data-type="双" data-num="10">双</i><br /><span>1.9倍</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="cha-car">
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="1" data-num="10"><img src="/newstatic/img/first/1.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="2" data-num="10"><img src="/newstatic/img/first/2.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="3" data-num="10"><img src="/newstatic/img/first/3.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="4" data-num="10"><img src="/newstatic/img/first/4.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="5" data-num="10"><img src="/newstatic/img/first/5.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="6" data-num="10"><img src="/newstatic/img/first/6.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="7" data-num="10"><img src="/newstatic/img/first/7.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="8" data-num="10"><img src="/newstatic/img/first/8.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="9" data-num="10"><img src="/newstatic/img/first/9.png" /></i> <br /><span>9.2倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="10" data-num="10"><img src="/newstatic/img/first/10.png" /></i> <br /><span>9.2倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="champion">
                    <div class="cha-first big">
                        <div class="one">冠亚和：</div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left " data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="大" data-num="0">大</i><br /><span>2.1倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="小" data-num="0">小</i><br /><span>1.7倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="单" data-num="0">单</i><br /><span>1.7倍</span></div>
                        <div data-toolbar="transport-options-o" class="btn-toolbar btn-toolbar-info-o pull-left" data-toolbar-style="info-o"><a class="bar-a"></a><i class="fa" data-type="双" data-num="0">双</i><br /><span>2.1倍</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- 下注 -->
            <!-- tips提示框  下注-->
            <div id="transport-options-o" class="toolbar-icons hidden posi">
                <a class="a"><i class="fa">1</i></a>
                <a class="a"><i class="fa">5</i></a>
                <a class="a"><i class="fa">30</i></a>
                <a class="a"><i class="fa">50</i></a>
                <!-- <a class="btn"><i class="fa">自定义</i></a> -->
                <span class="auto">自定义金额</span>
            </div>
            <!-- tips提示框  下注-->
            <!-- tips提示框  下注-->
            <div id="transport-options-p" class="toolbar-icons hidden posi">
                <a class="b"><i class="fa">撤销</i></a>
                <a class="b"><i class="fa">加注</i></a>
            </div>
            <!-- tips提示框  下注-->
            <div id="transport-options-s" class="posi hidden">
                <!-- <input type="text" name="auto-bet" readonly="readonly" style="ime-mode: disabled;"> --><span></span><input type="button" name="confirms" value="确定">
            </div>

            <div class="keyboards">
                <table colspan="0" rowspan="0" border="1">
                    <tr><td>1</td><td>2</td><td>3</td><td>删除</td></tr>
                    <tr><td>4</td><td>5</td><td>6</td><td>0</td></tr>
                    <tr><td>7</td><td>8</td><td>9</td><td>确定</td></tr>
                </table>
            </div>
        </div>
    </div>
    <!-- 玩法 -->
    <!-- 底部导航 -->
   @Html.Partial("_footer")
    <!-- 底部导航 -->
    
    <script type="text/javascript" src="~/newstatic/js/PK10.js"></script>
    <script src="~/scripts/lottery.js"></script>
    <link href="~/components/layer/skin/layer.css" rel="stylesheet" />
    <script src="~/components/layer/layer.js"></script>

    <!-- <script src="js/jquery.toolbar.js"></script> -->
    <!-- <script type="text/javascript">
                var zttz=0;
        jQuery(document).ready(function($) {
            $('div[data-toolbar="transport-options-o"]').toolbar({
                            content: '#transport-options-o',
                            position: 'top',
                            event: 'click',
                            hideOnClick: true,
                        });
        })
    </script> -->
    <script>

        $(function(){
            //$(".ifsfz").load(function(){
            //    //$(".ifsfz").css("width","100%").contents().find(".drawing-video").css("width","100%")
            //    $(this).contents().find("div.drawing-video").css('width','100%');
            //});
            $.get("/nwlottery/userbetmoney", { "lotterytype": lotterytype, "expect": expect }, function (data)
            {
                if (data != "")
                {
                    var my = data.split('|');
                    $(".bala-money").text(my[0]);
                    $(".bet-money").text(my[1]);
                }
            });

            var list='@ViewData["betlist"]';

            if(list!="")
            {
                var dt=JSON.parse(list);
                $.each(dt,function(){
                    $(".champion i[data-num='"+this.Roomid+"'][data-type='"+this.Item+"']").parent().find("a").text(this.Money);
                    $(".champion i[data-num='"+this.Roomid+"'][data-type='"+this.Item+"']").parent().unbind().on("click",function(){
                        btnToolbarIndex(2,$(this));
                    })
                });
            }
        });

        function btnToolbarIndex(flag,_this){
            $(".keyboards").hide();
            $(".auto").css("border","none").text("自定义金额");
            if (flag==1) {//初次点击车号
                //显示待选数字
                $(".btn-toolbar").removeClass("cur");
                $(_this).addClass("cur");
                $("#transport-options-p,.arrow").hide();
                $("#transport-options-o,.arrow").show();
                $("#transport-options-o").removeClass("add");

                if (_this.siblings(".one").text()=="跑第一名：") {
                    $(".arrow").css({"position":"absolute","top":_this.offset().top-223,"left":_this.offset().left+_this.width()/4,"border-bottom":"10px solid #222","border-top":"none"}).show();
                    if (_this.offset().left/$(document).width()<0.2) {
                        $("#transport-options-o").css({"left":_this.offset().left,"top":_this.offset().top-215,"right":"auto"});
                    }else if(_this.offset().left/$(document).width()>0.6){
                        $("#transport-options-o").css({"right":$(document).width()-_this.offset().left-_this.width(),"top":_this.offset().top-215,"left":"auto"});
                    }else{
                        $("#transport-options-o").css({"left":_this.offset().left-90,"top":_this.offset().top-215,"right":"auto"});
                    }
                }else{      
                    $(".arrow").css({"position":"absolute","top":_this.offset().top-272,"left":_this.offset().left+_this.width()/4,"border-top":"10px solid #222","border-bottom":"none"}).show();
                    if (_this.offset().left/$(document).width()<0.2) {
                        $("#transport-options-o").css({"left":_this.offset().left,"top":_this.offset().top-304,"right":"auto"});
                    }else if(_this.offset().left/$(document).width()>0.6){
                        $("#transport-options-o").css({"right":$(document).width()-_this.offset().left-_this.width(),"top":_this.offset().top-304,"left":"auto"});
                    }else{
                        $("#transport-options-o").css({"left":_this.offset().left-90,"top":_this.offset().top-304,"right":"auto"});
                    }
                }

            }else if (flag==2) {//已投注后点击车号
                //显示撤销和加注
                $("#transport-options-o,.arrow").hide();
                $("#transport-options-p").show();
                $(".btn-toolbar").removeClass("cur");
                $(_this).addClass("cur");
                if (_this.siblings(".one").text()=="跑第一名：") {
                    $(".arrow").css({"position":"absolute","top":_this.offset().top-223,"left":_this.offset().left+_this.width()/4,"border-bottom":"10px solid #222","border-top":"none"}).show();
                    if (_this.offset().left/$(document).width()<0.5) {
                        $("#transport-options-p").css({"left":_this.offset().left,"top":_this.offset().top-215,"right":"auto"});
                    }else if(_this.offset().left/$(document).width()>0.5){
                        $("#transport-options-p").css({"right":$(document).width()-_this.offset().left-_this.width(),"top":_this.offset().top-215,"left":"auto"});
                    }	    
                }else{      
                    $(".arrow").css({"position":"absolute","top":_this.offset().top-272,"left":_this.offset().left+_this.width()/4,"border-top":"10px solid #222","border-bottom":"none"}).show();
                    if (_this.offset().left/$(document).width()<0.5) {
                        $("#transport-options-p").css({"left":_this.offset().left,"top":_this.offset().top-304,"right":"auto"});
                    }else if(_this.offset().left/$(document).width()>0.5){
                        $("#transport-options-p").css({"right":$(document).width()-_this.offset().left-_this.width(),"top":_this.offset().top-304,"left":"auto"});
                    }	
                }
            }
        }
    </script>
</body>
</html>

